
.carouselArea{
   
    /* background-color: #10101013; */
    height: auto;
    width:  22em;
    overflow: hidden;
    transition: ease 1.2s;
    position: absolute;
    z-index: 1;
    border-radius: 1.5em;
    margin-right: auto;
    margin-left: 50%;
    transform: translateX(-50%);

}



.slide {
    object-fit: cover;
    height: 12em;
    width: inherit;
    overflow: hidden;
}

.active{
    object-fit: contain;
    height: 14em;
    width: auto;
    margin: 0.5em auto;
    box-shadow: 0px 0px 6px 1px rgb(34, 255, 0);
 
}

.arrow {
    color: rgb(132, 132, 132);
}

.arrow:hover{
    color: greenyellow;
    
}

.nextArrow{
    position: absolute;
    right: 2%;
    top: 50%
}

.prevArrow {
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 1;
 
}